// Place all the styles related to the Ideas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div {
	border: 1px dashed red;
}

#rightindex {
	background-color: yellow;

	#add_linkcollection{
		margin: 10px;
	}

	#add_linkcollection:hover{
		border:1px solid black;
		width: 260px;
		height: 75px;
		margin-left: 10px;
	}
}

#leftindex {
	background-color: pink;
	overflow-y: auto;
	overflow-x: hidden;
	height: 700px;

	h2 {
		font-size: 20px;
	}

	.date_pub {
	font-size: 15px;
	}

	.links {
		background-color: yellow;
		
	}
}


.select_linkcollection{
	text-align: left;
	border: 4px solid black;
	padding: 5px;
	width: 800px;
	overflow: hidden;
	
	

	.linkcollection{
		background-color: white;
		border: 1px solid black;

		div div{
			display: inline-block;
		}
	}
}



